<!DOCTYPE html>
<html>
<head>
  <title>Michibiki</title>
  <%= stylesheet_link_tag    "michibiki/application", media: "all" %>
  <%= javascript_include_tag "michibiki/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
